body {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

#instructionForm {
  visibility: visible;
  z-index: 1000000;
  width: 100vw;
  height: 100vh;
  display: block;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: aquamarine;
}
.instruction h1 {
  text-align: center;
}
/* .instruction{
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center; 
  background: rgba(90, 139, 185, 0.8);
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  
} */
#ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: 20px;
  left: 20px;
}
.container {
  overflow: hidden;
}
.instruction button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 150px;
  font-size: 3em;
}
.hole {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  z-index: -2;
  position: absolute;
}
.hole {
  background: #000000;
}
