html, body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}
body {
    background-image: url(bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

}
canvas {
    display: block;
}

